@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Montserrat:wght@200;300;400;500;600;700;800&family=Noto+Serif:wght@400;700&family=Marcellus+SC&display=swap');





*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

.fundo-principal{
    width: 100vw;
    background-color: #fff;
  
}

header{
    width: 100vw;
    background-color: #fff;
    color: #000;
}

header .container{
    padding: 1rem 0;
    justify-content: space-between ;
    align-items: center;
    font-size: 2rem;
    border-bottom: 1px solid #660708;
}

header img{
    width: 22rem;
}

a{
    text-decoration: none;
    color: #000;
}

a:hover{
    text-decoration: none;
    color: #000;
}

.container{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 3rem;
    position: relative;
}

.destaque{
    width: 100vw;
    padding: 7rem 0;
}

.destaque .container{
    justify-content: space-around;
}


.destaque-text{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 7rem;
    text-align: start;
}

h1{
    font-size: 5.2rem;
    color: #000;
    
    font-weight: 700;
}

h2{
    font-size: 3rem;
    font-weight: 700;
}


.destaque-text p{
    font-size: 2rem;
    color: #fff;
}

.whatsapp{
    padding: 12px 30px;
    background-color: #386641;
    border: none;
    border-radius: 7px;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 700;
}

.destaque-img{
    position: relative;
    width: 30%;
}


.destaque-img img{
    width: 350px;
    margin-top: -20px;
}



.google{
    width: 100vw;
    padding: 3rem 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
    background-color: #386641;
    border-top: 1px solid #fff;
}

.google .stars{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.google .stars img{
    width: 2rem;
}
.google .google-text{
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
}

.line{
    width: 200px;
    height: 2px;
    background-color: #660708;
    margin-top: 10px;
    margin-left: 50px;
}

.area{
    padding: 6rem 0;
}

.area .container{
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 5rem;
}

.area-text{
    width: 50%;
}

.area-text p{
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.4;
   
}

.area-img{
    width: 25%;
    align-content: center;
}

.area-img img{
    width: 300px;
    margin: auto;
}

.area h2{
    align-self: flex-start;
}

.area p{
    margin-top: 3rem;
}

.beneficios{
    width: 100vw;
    padding: 4rem 0;
}

.beneficios .container{
    flex-direction: row;
    gap: 10px;
}

.beneficios .beneficios-card{
    width: 33%;
    color: #000;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
}

.beneficios-card img{
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 5px;
    background-color: #660708;
}

.beneficios .beneficios-card h3{
    font-size: 1.8rem;
}

.beneficios .beneficios-card p{
    font-size: 1.6rem;

}

.escritorio{
    width:100vw;
    padding: 6rem 0;
}

.escritorio .container{
    align-items: center;
}


.escritorio-text{
    width: 60%;
}

.escritorio-text span{
    font-size: 1.8rem;
}

.escritorio-text p{
    margin-top: 2rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.4;
}

.escritorio-img{
    width: 50%;
}

.images-grid{
    width: 400px;
    display: grid;
    grid-template-columns: 230px 1fr;
    grid-template-rows: 160px 160px;
    grid-template-areas:
     "image1 image2 "
     "image1 image3";
     gap: 10px;
}

.images-grid img{
    height: 100%;
}

.image1{
    grid-area: image1;
}

.image2{
    grid-area: image2;
}

.image3{
    grid-area: image3;
}


.atendimento{
    width: 100vw;
    padding: 6rem 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right(50px);
    background:  linear-gradient(#66070967, #66070970) , url(img/brasil.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    background-attachment: fixed;
}

.atendimento p{
    font-size: 2rem;
    font-weight: 400;
    text-align: center
}

.atendimento .container{
    flex-direction: column;
    align-items: center;
}

.atendimento .whatsapp{
    background-color: #000;
}

.equipe{
    width: 100vw;
    padding: 6rem 0;
}
.equipe .container{
    flex-direction: column;
    gap: 3rem;
}

.equipe .equipe-container{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 3rem ;
}

.equipe .equipe-container .equipe-card{
    width: 25%;
    height: 300px;
    border: .5px solid rgba(0, 0, 0, 0.300);
    background-size: cover;
    background-position: center;
    color: #fff;
    font-size: 1.8rem;
    padding: 10px;
    display: flex;
    align-items: flex-end;
}

.equipe .equipe-container #brian {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.300), rgba(0, 0, 0, 0)), url(img/Brian-Davies.jpg);
    background-size: cover;
    background-position: top center;

}

.equipe .equipe-container #cintia {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.990), rgba(0, 0, 0, 0.300), rgba(0, 0, 0, 0)), url(img/Cintia-Rocha.jpg);
    background-size: cover;
    background-position: top center;

}

.equipe .equipe-container #tainara {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.990), rgba(0, 0, 0, 0.300), rgba(0, 0, 0, 0)), url(img/Tainara-Isadora.jpg);
    background-size: cover;
    background-position: top center;

}

.fale-conosco{
    width: 100vw;
    padding: 8rem 0;
    background-color: #000;
    color: #fff;
}

.fale-conosco .container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.fale-conosco .whatsapp{
    background-color: #660708;
}

.dados{
    width: 100vw;
    padding: 6rem 0;
}

.dados .container{
    gap: 2rem;
    justify-content: center;
}

.dados h3{
    font-size: 2rem;
    margin-bottom: 10px;
}

footer{
    width: 100vw;
    padding: 2rem 0;
}

footer .container{
    justify-content: center;
}

footer img{
    width: 20rem;
}

@media(max-width: 1400px){
    .destaque-text{
        margin-bottom: 6rem;
    }

    .destaque-img{
        width: 40%;
    }
}


@media(max-width:1100px){
    html{
        font-size: 55%;
    }

    .container{
        width: 90%;
        flex-wrap: wrap;
    }

    .destaque-text{
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .destaque-text h1{
        font-size: 4.5em;
    }

    .google{
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .google .stars{
        gap: 1.5rem;
    }
    .google .stars img{
        width: 15px;
    }
    .google .google-text{
        font-size: 1.2rem;
    }

    .destaque-img{
        width: 100%;
    }

    .area .container{
        flex-direction: column-reverse;
        align-items: center;
    }

    .area-img{
        width: 90%;
    }

    .area-img img{
        width: 100%;
    }

    .area-text{
        width: 100%;
        text-align: center;
    }

    .beneficios .beneficios-card{
        width: 100%;
    }

    .escritorio-text{
        text-align: center;
        width: 100%;
    }

    .escritorio-img{
        width: 100%;
    }

    .equipe .equipe-container{
        flex-wrap: wrap;
    }

    .equipe .equipe-container .equipe-card{
        width: 100%;
    }

    .fale-conosco{
        text-align: center;
    }

    .location iframe{
        width: 100%;
    }

    .insta{
        width: 100%;
    }

    .insta div{
        width: 100%;
    }
    
    .insta iframe{
        min-width: 150px;
    }

    .insta div blockquote{
        width: 100%;
    }
}